.activeTab{
  background-color: rgb(243, 239, 183) !important;
  border-bottom-color: rgb(243,239,183) !important;
}

h6.instruction{
  color:rgb(255, 115, 0) !important;
  text-align:center;
}
h6.key_warning{
  color:red;
  text-align:center;
}
/*///// Image  *********/
/* #image_convert{
  object-fit:cover;
} */

/* Keypad */
input.input_num{
  width: 100px;
  height: 100px;
  /* border-radius:50%; */
  background-color:lightskyblue;
  font-size: xx-large;
}  

#backspace, #clear{
  font-size: large;
}

button.keypad{
  width: 100px;
  height:100px;
  font-size: xx-large;
  background-color:lightskyblue;
  outline:none;
}  

button.input_num:active{
  background-color:yellowgreen;
  transform: translateY(4px);
  font-size:70px;
}

#backspace:active{
  background-color:yellowgreen;
  transform: translateY(4px);
  font-size:30px;
  font-weight:bold;
}

#clear:active{
  background-color:yellowgreen;
  transform: translateY(4px);
  font-size:30px;
  font-weight:bold;
}

@media only screen and (min-width: 992px){
  button.input_num, button.keypad{
    min-height: auto;
  }
}

@media only screen and (max-width:640px){
  div.image_placeholder{
    background-color:royalblue;
    width:360px;
    height:300px;
    margin:20px auto 10px auto;
    border-radius: 10px;
  }
  
  div.output_container{
    width:360px;
    min-height:60px;
    margin:20px auto;  
  }
  div.output_subcontainer{
    width:165px;
    height:120px;
    display:inline-block;
    vertical-align: top;
    border:2px solid orange;
    border-radius:10px;
    padding: 5px 10px 0px 10px;
    margin:5px 5px;
  }
  p.output_num{
    font-size:x-large;
    margin:5px auto;
    text-align: center;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
  }
  p.output_num:hover{
    overflow:visible;
  }

  form.unit_container{
    width:100%;
        min-height:50px;
      }
        input[type='radio']{
          width:20px;
          height:20px;
        }
        input[type='radio'] label{
          font-size:medium;
        }
  
  #keypad{
    width:360px;
    display:block;
    margin: 5px auto;

  }

}
@media only screen and (min-width:641px){
  body{
    text-align:center;
  }
  div.image_placeholder{
    background-color:royalblue;
    width:600px;
    height:400px;
    margin:20px auto 10px auto;
    border-radius: 10px;
  }
  
  div.non_image{
    width:640px;
    margin:10px auto;
  }
  
  div.output_container{
    width:180px;
    min-height:60px;
    margin:10px 20px;
    display:inline-block;
    vertical-align: middle;
  }
  div.output_subcontainer{
    width:180px;
    height:180px;
    display:block;
    border:2px solid orange;
    border-radius:10px;
    padding: 5px 5px 0px 5px;
    margin:40px 30px;
  }
  p.output_num{
    font-size:xx-large;
    margin:10px auto;
    text-align: center;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
  }
  p.output_num:hover{
    overflow:visible;
  }

  form.unit_container{
    width:100%;
    min-height:50px;
    margin:10px auto;
    padding:5px;
  }
    input[type='radio']{
      width:25px;
      height:25px;
      margin:2px;
      margin-top:5px;
    }
    input[type='radio'] label{
      font-size:16px;
      vertical-align: top;
      margin-right:3px;
    }
  
  #keypad{
    width:360px;
    display:inline-block;
    vertical-align: top;
    margin: 5px 20px;

  }

}
@media only screen and (min-width:1024px){
  body{
    text-align:center;
  }
  div.image_placeholder{
    background-color:royalblue;
    width:600px;
    height:600px;
    margin:20px auto 10px auto;
    border-radius: 10px;
    display:inline-block;
    vertical-align: top;
  }
  
  div.non_image{
    width:400px;
    margin:30px auto;
    display:inline-block;
    vertical-align: middle;
  }
  
  div.output_container{
    width:400px;
    min-height:60px;
    margin:10px auto;
    display:block;
    /* vertical-align: middle; */
  }
  div.output_subcontainer{
    width:180px;
    height:160px;
    display:inline-block;
    border:2px solid orange;
    border-radius:10px;
    padding: 5px 5px 0px 5px;
    margin:0px;
  }
  p.output_num{
    font-size:xx-large;
    margin:5px auto;
    text-align: center;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
  }
  p.output_num:hover{
    overflow:visible;
  }

  form.unit_container{
    width:100%;
    margin:0px auto;
    padding:0px;
  }
    input[type='radio']{
      width:25px;
      height:25px;
      margin:2px;
      margin-top:5px;
    }
    input[type='radio'] label{
      font-size:16px;
      vertical-align: top;
      margin-right:3px;
    }
  
  #keypad{
    width:360px;
    display:inline-block;
    vertical-align: top;
    margin: 5px 20px;

  }

}