<div class="container">
<div class="row mt-3">
<h2>Account Info</h2>
<a class='btn btn-info btn-sm ml-auto align-middle' href="/dashboard">Back to dashboard</a>
</div>
<div class="row">
<input name='first_name' type='text' class='col-5' value='{{user.first_name}}'>
<input name='last_name' type='text' class='col-5' value='{{user.last_name}}'>
</div>
<br>
<div class="row">
<input name='email' class='col-5' type='text' value='user.email'>
<a href='change_password' class='link col-5'>Change Password</a>
</div>
<br>
<label>Position: Web dev</label>
<br>
<textarea name='desc' cols='60' rows='5' values='{{user.desc}}'></textarea>

<h3 class='alert alert-warning'>Wall Communication history</h3>
<ul class='list-unstyled border border-secondary'>
    <!--post/message submitted by this user, id=request.session.id-->
    ## for post in posts}}
    <li><p>Date posted desc order</p>
    <p>Post context</p>
    <p class='text-right'>Date posted</p><a href='#' class="btn btn-danger">delete</a>
    </li>
    <!--comments for each of the wall post-->
    <ul class='list-unstyled border border-secondary'>
        ## for comment in comments }}
        <li class='border border-secondary'>
            <p>Date comment posted sec order comment associated with the post
            <p class='text-right'>Date posted</p><a href='#' class="btn btn-danger">delete</a>
        </li>
        ## endfor }}
    </ul>
   ## endfor }}
</ul></div>
</div>

