<tr>
    <th scope='col'>ID</th>
    <th scope='col' class='text-center'>Email</th>
    <th scope='col'>Subscribed date</th>
    <th scope='col'>Unsubscribe?</th>
</tr>
<!--loop for every upload by request.session.id-->
{% for subscription in subscriptions %}
<tr>
    <td scope='row'>{{subscription.id}}</td>
    <td class='text-center'>{{subscription.sub_email}}</td>
    <td>{{subscription.created_at}}</td>
    <!--model pop up alert for deleting uploaded file-->
    <td><a id='unsub_click' IDnum="{{subscription.id}}" class="btn unsubscribe-btn">Unsubscribe</a></td>
</tr>
{% endfor %}