<h2>Change Password for {{first_name}} {{last_name}}</h2>
<!--create form to change user password-->
<form action='change_password_proc' method='POST' class='form-control'>
    <label>Current password: </label>
    <input name='current_password' type='password' placeholder='current password here'>
    <label>New password: </label>
    <input name='new_password' type='password' placeholder='new password here'>
    <label>Confirm new password: </label>
    <input name='confirm_new_password' type='password' placeholder='confirm new password here'> 
    <button type='submit'>Reset Password</button>
</form>
<!--link back to the account-info-->
<a href='account_info'>Back to Account Info</a>