{% extends "dashboard_app/account_info.html" %}
{% load static %}

{% block title%}
    Change Password
{% endblock %}

{% block add_to_head %}
<link rel='stylesheet' type='text/css' href="{% static 'dashboard_app/CSS/change_password.css' %}" />
{% endblock %}

{% block content %}
<h2 class='card-header'>Account Info <a class='h5 text-info ml-auto' href="/dashboard">Back to dashboard</a></h2>
        <h4>Change Password for {{first_name}} {{last_name}}</h4>
        <!--create form to change user password-->
        <form action='change_password_proc' method='POST'>
            {% csrf_token %}
            <table>
                <tr>
                    <td class='label'><label>Current password: </label></td>
                    <td class='input'><input name='current_password' type='password' placeholder='current password..'></td>
                </tr>
                <tr>
                    <td class='label'><label>New password: </label></td>
                    <td class='input'><input name='new_password' type='password' placeholder='new password..'></td>
                </tr>
                <tr>
                    <td class='label'><label>Confirm password: </label></td>
                    <td class='input'><input name='confirm_new_password' type='password' placeholder='confirm password..'></td>
                </tr>
            </table>
            <button type='submit'>Reset Password</button>
            {% if messages %}
                <ul>{% for message in messages %}
                    {% if message.tags == 'success' %}
                    <li class='message_success'>{{message}}</li>
                    {% endif %}
                    {% if message.tags == 'error' %}
                    <li class='message_error'>{{message}}</li>
                    {% endif %}
                </ul>{% endfor %}

            {% endif %}
        </form>
        <!--link back to the account-info-->
        <a class='back' href='account_info'>Back to Account Info</a>
{% endblock %}
