<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>Feedbacks</title>
<meta name='description' content=''>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous'>


</head>
<body>
    <!--creating navigation bar at top-->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        {% load static %}
        <a href='/'><img src="{% static "unit_conv_app/images/Google_closure_tools_logo.png" %}" alt='logo pic' width=60px></a>
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href='/'>Unit Conversion</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="account_info">Account info</a>
            <a class="p-2 text-dark" href="feedback">Feedback</a>
            <a class="p-2 text-dark" href="subscription">Subscription</a>
            <a class="p-2 text-dark" href="conversion_upload">Conversion Upload</a>
            <a class="p-2 text-dark" href="wall">Wall</a>
        </nav>
        <a class="btn btn-outline-primary" href="/logout">Logout</a>
        </div>
      
    {% if messages %}
    {% for message in messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    {% endif %}
    <br>

    <!--Nav-tabs for user dashboard-->
    <h4>Hello {{first_name}} {{last_name}}</h4>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" href="conversion_upload">Conversion Upload</a></li>
        <li class="nav-item"><a class="nav-link" href="account_info">Account info</a></li>
        <li class="nav-item"><a class="nav-link active" href="feedback">Feedback</a></li>
        <li class="nav-item"><a class="nav-link" href="subscription">Subscription</a></li>
        <li class="nav-item"><a class="nav-link" href="wall">Wall</a></li>
    </ul>


<h2 class='card-header'>Feedbacks <a class='h5 text-info ml-auto' href="/dashboard">Back to dashboard</a></h2>
<div class="mt-5">
<!--Create search form to filter/retrieve feedback data-->
<!-- <form action='/dashboard/feedbacks_ajax' method='post' id='fb_search' >
    {% csrf_token %}
    <label>Feedbacks on: </label>
    <select name='feedback_categories'>
        <option value='Layout' selected>Layout</option>
        <option value='Feature'>Features</option>
        <option value='Speed'>Speed</option>
        <option value='Conversion'>Conversion</option>
        <option value='Other'>Other</option>
    <input type=submit value='Search'>
</form>
<div class="container" id='feedbacks_ajax'>display search output table here</div> -->

<table class='table' data-spy='scroll' style='overflow:scroll;'>
    <!--heading of the Feedback table, link to order_by col-->
    <thead class='thead-dark'>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Rating</th>
            <th scope='col'>layout</th>
            <th scope='col'>Layout Response</th>
            <th scope='col'>Feature</th>
            <th scope='col'>Feature Response</th>
            <th scope='col'>Speed</th>
            <th scope='col'>Speed Response</th>
            <th scope='col'>Conversion</th>
            <th scope='col'>Conversion Response</th>
            <th scope='col'>Other</th>
            <th scope='col'>Cther Response</th>
            <th scope="col">Date</th>
            <th scope="col">Email</th>
            <th scope="col">Delete?</th>
        </tr>
    </thead>
    <tbody>
    <!--loop for every upload by request.session.id-->
    {% for feedback in feedbacks %}
        <tr>
            <th scope = 'row'>{{feedback.id}}</th>
            <td>{{ feedback.rating }}</td>
            <td>{{ feedback.layout }}</td>
            <td>{{ feedback.layout_response }}</td>
            <td>{{ feedback.feature }}</td>
            <td>{{ feedback.feature_response }}</td>
            <td>{{ feedback.speed }}</td>
            <td>{{ feedback.speed_response }}</td>
            <td>{{ feedback.conversion }}</td>
            <td>{{ feedback.conversion_response }}</td>
            <td>{{ feedback.other }}</td>
            <td>{{ feedback.other_response }}</td>
            <td>{{ feedback.created_at }}</td>
            <td>{{ feedback.email}}</td>
            <!--model pop up alert for deleting uploaded file-->
            <td><a class="btn btn-primary" href='delete_feedback/{{feedback.id}}'>Delete</a>  
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>

<!-- <script>
    $('#fb_search').submit(function(e){
        e.preventDefault()
        
        $.ajax({
            url: $(this).attr('action'),
            method: "post",
            data: $(this).parent().serialize(),
            success: function(feedback_search){
                $('#feedbacks_ajax').html(feedback_search)
            }
        })
        // return false;
    })


</script> -->
</body>
</html>