<h1>Feebacks</h1>
<a class='btn btn-info btn-sm ml-auto align-middle' href="/dashboard">Back to dashboard</a>
<!--Create search form to filter/retrieve feedback data-->
<form>
    {% csrf_token %}
    <label>Search: </label>
    <input name='startswith' type='text'>
    <select name='feedback_categories'>
        <option selected>Layout Design</option>
        <option>More features</option>
        <option>Lag</option>
        <option>Conversion</option>
        <option>Other</option>
    <input type=button value='Search'>
</form>
<div class="container">display search output table here</div>

<table data-spy='scroll' style='overflow:scroll;'>
    <!--heading of the Feedback table, link to order_by col-->
    <tr>
        <th>ID</th>
        <th>Rating</th>
        <th>Improve Area</th>
        <th>Improve Feedback</th>
        <th>Date</th>
        <th>Email</th>
        <th>Delete?</th>
    </tr>
    <!--loop for every upload by request.session.id-->
    ## for conversion_upload in conversion_uploads }}
        <td>##feedback_id}}</td>
        <td>##rating}}</td>
        <td>##improve_area}}</td>
        <td>##improve_comment}}</td>
        <td>##created_at}}</td>
        <td>##email}}</td>
        <!--model pop up alert for deleting uploaded file-->
        <td><a class="btn btn-primary" href='#'>Delete</a>  
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Remove</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete feedback</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <h4>Are you sure you want to delete the feedback?</h4>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    <a href='/delete_feedback/{{feedback_id}}' class="btn btn-danger">Yes, remove</a>
                    </div>
                </div>
                </div>
            </div>
        </td>