<!doctype html>
<html lang='en'>
<head>
  {% block head %}
    <meta charset='utf-8'>
    <title>Unit Conversion with Pictures</title>
<meta name='description' content=''>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous'>

{% load static %}
<link rel="stylesheet" type= "text/css" href="{% static 'unit_conv_app/CSS/index.css' %}">
<link rel="stylesheet" type= "text/css" href="{% static 'unit_conv_app/CSS/templating.css' %}">

<script type='text/javascript' src="{% static 'unit_conv_app/JS/index.js' %}"></script>
  {% endblock %}
</head>

<body>
  {% block navibar %}
  <!--creating navigation bar at top-->
    <div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
      {% load static %}
      <a href='/'><img src="{% static 'unit_conv_app/images/Google_closure_tools_logo.png' %}" alt='logo pic' width=60px></a>
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href='/'>Unit Conversion</a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <!-- <a class="testout p-2 text-dark" href="#">How-To/Demo</a> -->
        <a class="p-2 text-dark" href="/subscribe">Subscribe</a>
        <a class="p-2 text-dark" href="/feedback">Feedback</a>
        <a class="p-2 text-dark" href='/dashboard'>Dashboard</a>
      </nav>
      <a class="btn btn-outline-primary" href="/{{logout_link}}">{{logout_text}}</a>
    </div>
  {% endblock %}
    <!--length and volume tabs (length active tab by default)-->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active activeTab" href="/">Length</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/volume'>Volume</a>
      <li>
    </ul>

  <!--the conversion image-->
<div class='image_placeholder' ></div>


<div class='non_image'>
  <!--create row container for the number output -->
  <div class="output_container">
      <!--output A in col 1 of 2-->
      <div class="output_subcontainer">
        <p class="output_num" id="output_A">From Here</p>
        <!--form of the 4 diff units for output A-->
        <form class='unit_container containerA'>
          <input type="radio" name="unitA" value="inches" checked> <label>inches</label>
          <input type="radio" name="unitA" value="feet"> <label>feet</label>
          <input type="radio" name="unitA" value="yards"> <label>yards</label>
          <input type="radio" name="unitA" value="miles"> <label>miles</label>
        </form>
      </div>
      <!--output B in col 2 of 2-->
      <div class="output_subcontainer">
          <p class="output_num" id="output_B">To Here</p>
          <!--form of 4 diff units for output B-->
          <form class='unit_container containerB'>
            <input type="radio" name="unitB" value="inches"> <label>inches</label>
            <input type="radio" name="unitB" value="feet" checked> <label>feet </label>
            <input type="radio" name="unitB" value="yards" > <label>yards</label>
            <input type="radio" name="unitB" value="miles" > <label>miles</label>
          </form>
      </div>
  </div>
  <!--keypad-->
  <div id='keypad' class="">
      <h6 class='instruction input_instruction '>Click keypad to enter number.</h6>
      <h6 class='key_warning '>Over the limit. Please click 'clear' to restart.</h6>
        <button name='input_num' class="keypad input_num btn m-1 rounded rounded-circle" value="1">1</button>
        <button name='input_num' class="keypad input_num btn btn-circle btn-lg  m-1 rounded rounded-circle" value="2">2</button>
        <button name='input_num' class="keypad input_num btn m-1 rounded rounded-circle" value="3">3</button>
        <button name='input_num' class="keypad input_num btn  m-1 rounded rounded-circle" value="4">4</button>
        <button name='input_num' class="keypad input_num btn m-1 rounded rounded-circle" value="5">5</button>
        <button name='input_num' class="keypad input_num btn m-1 rounded rounded-circle" value="6">6</button>
        <button name='input_num' class="keypad input_num btn m-1 rounded rounded-circle" value="7">7</button>
        <button name='input_num' class="keypad input_num btn m-1 rounded rounded-circle" value="8">8</button>
        <button name='input_num' class="keypad input_num btn m-1 rounded rounded-circle" value="9">9</button>
        <button id='backspace' name='backspace' class="btn keypad m-1 rounded rounded-circle" value="back">&larr; Back </button>
        <button name='input_num' class="keypad input_num btn m-1 rounded rounded-circle" value="0">0</button>
        <button id='clear' name='clear' class="keypad btn m-1 rounded rounded-circle" value="clear">Clear</button>
    </div>
  </div>
</body>
</html>